<div id="inputContainer" class="panel panel-default" style="background-color: #ffffff;">

<div class="panel-heading">
<h3 style="text-align:center;"> Add Ticket </h3>
</div>
<div class="panel-body">
<md-content flex layout-padding style="overflow-y: auto; max-height: 100vh; background-color: #ffffff">

<form>
    <md-input-container id="coordsXl" class="md-block md-input-focused">
        <label id="coordsXl" style="float: right;"> Longitude: </label>
        <input readonly id="coordsX" type="text" value="42.000" ng-model="ticket.location.longitude" /> <br>
    </md-input-container>
    <md-input-container id="coordsYl" class="md-block md-input-focused">
        <label id="coordsYl" style="float: right;"> Latitude: </label>
        <input readonly id="coordsY" type="text" value="32.000" ng-model="ticket.location.latitude" /> <br/>
    </md-input-container>
   
   <md-button ng-click="getLocation()">Locate with GPS</md-button><br/>
   <br/>

   <md-input-container class="md-block">
    <label> Valid Until </label><input id="datetime" required type="datetime-local" ng-model="ticket.valid_until" placeholder="2016-06-12"/><br />
   </md-input-container>
   <md-input-container class="md-block">
    <label> Number of Persons:</label> <input type="number" min="0" max="100" ng-model="ticket.persons" /><br />
   </md-input-container>
   <label>Image:</label> <br />
   <md-input-container class="md-block">
     <input type="file" id="imgUpload" ng-model="ticket.image" accept=".png, .jpg" class="md-button" style="align:left;"> 
   </md-input-container>
   <md-input-container class="md-block">
    <label>Valid for:</label><br>
      <select id="ticket_type" ng-model="ticket.ticket_type[0]">
        <option ng-repeat="type in ticket_types" value="{{type.id}}">{{type.show_name}}</option>
      </select>
    </md-input-container>
    <md-input-container class="md-block">
    <label>Comment:</label> <textarea ng-model="ticket.comment"> </textarea> <br />
    </md-input-container>
    <md-button ng-click="submitTicket()">Submit</md-button>

</form>
</md-content>
</div>
</div>