<h3> Add Ticket </h3>


<script>
var x = document.getElementById("coordsX");
var x = document.getElementById("coordsX");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = position.coords.latitude;
    "<br>Longitude: " + position.coords.longitude;
}
</script>

<form>
    Geolocation: <input id="coordsX" type="text" ng-model="ticket.coordsNS" /><input type="text" ng-model="ticket.coordsEW" /> <!--<button onclick="getLocation()">Locate</button> --><br />
    Valid Until: <input type="datetime-local" ng-model="ticket.validuntil" placeholder="2016-06-12T22:42:42"/><br />
    Number of Persons: <input type="number" ng-model="ticket.numberOfPeople" /><br />
    Image: <input type="file" ng-model="ticket.image" accept=".png, .jpg"/><br />
    Valid for: <input type="search" list="Zones"> 
                    <datalist id="Zones"> 
                        <option value="BadenWuertemberg"/>
                        <option value="Bayern"/>
                        <option value="Hessen"/>
                     </datalist>
    Comment: <input type="text" ng-model="ticket.comment" />

</form>